# # # @morphcore:registry=https://gitlab.com/api/v4/packages/npm/
# # # //gitlab.com/api/v4/packages/npm/:_authToken=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
# # # //gitlab.com/api/v4/projects/53298025/packages/npm/:_authToken=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

# # # //gitlab.com/api/v4/projects/53298025/packages/npm/:_authToken=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

# # always-auth=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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

# always-auth=true

# # @maptdev:registry=https://npm.pkg.github.com