@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Firefox */
:root {
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #000000;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  font-family: 'Poppins' !important;
}

.postPage a {
  /* text-decoration: underline; */
  color: #00dfeb;
}

.heading-blue {
  display: inline;
  color: #000;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  position: relative;
}

.heading-blue > span {
  background-image: linear-gradient(to right, #00dfeb 0%, #00dfeb 100%);
  background-repeat: repeat-x;
  background-position: 0 85%;
  background-size: 100% 10px;
}

.heading-white {
  display: inline;
  color: #000;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  position: relative;
}

.heading-white > span {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  background-position: 0 85%;
  background-size: 100% 10px;
}

.subtitle {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

.user-image {
  overflow: hidden;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.top-recents {
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  height: 433px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-recents-box {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-enquete {
  padding: 0 5px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  max-height: 433px;
  background-color: #e9e9e9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-enquete-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.top-newsletter {
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  max-height: 433px;
  background-color: #e9e9e9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-newsletter-sended {
  height: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.top-recents > p {
  font-size: 27px;
  line-height: 29px;
  font-weight: 600;
  margin-top: -20px;
}

.top-enquete > p {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
  margin-top: -20px;
}

.top-newsletter > p {
  font-size: 27px !important;
  line-height: 29px !important;
  font-weight: 700 !important;
}

.top-newsletter p {
  font-size: 1.188rem;
  line-height: 28px;
  color: white;
  font-weight: 500;
}

.top-newsletter span {
  color: white;
  font-weight: 400;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 10px;
}

input[type='radio']::before {
  content: '';
  width: 0.87em;
  height: 0.87em;
  border-radius: 50%;
  transform: scale(0);
  background-color: #00dfeb;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  -webkit-transition: 120ms transform ease-in-out;
  -moz-transition: 120ms transform ease-in-out;
  -ms-transition: 120ms transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

.underline-bold {
  font-weight: 600;
  text-decoration: underline;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 18px;
}

.round label:after {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  content: '';
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.round input[type='checkbox'] {
  visibility: hidden;
}

.round input[type='checkbox']:checked + label {
  background-color: #00dfeb;
  border-color: #00dfeb;
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
}

.title-box {
  max-width: 681px;
}

.post-thumb {
  aspect-ratio: 16 / 5;
  max-height: 500px;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.post-thumb > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.post-last-news-img {
  max-width: 295px;
  max-height: 175px;
  width: 295px;
  height: 175px;
}

.post-last-news-img-h {
  max-width: 138px;
  max-height: 80px;
  width: 138px;
  height: 80px;
}

@media (max-width: 767.98px) {
  .post-last-news-img {
    max-width: none;
    max-height: none;
    min-height: 175px;
    width: 100%;
    height: auto;
  }
  .post-last-news-img-h {
    max-width: none;
    max-height: none;
    min-height: 175px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .post-thumb {
    aspect-ratio: 16 / 10;
    object-fit: cover;
    object-position: top;
    position: relative;
  }

  .top-recents {
    padding: 0 10px;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: auto;
    background-color: #00dfeb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .top-enquete {
    padding: 0 5px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 100%;
    max-height: 433px;
    background-color: #e9e9e9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .top-newsletter {
    padding-bottom: 20px;
    width: 100%;
    max-width: 100%;
    max-height: 433px;
    background-color: #e9e9e9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

.all-inline {
  display: inline;
}

.all-inline > * {
  display: inline;
  font-size: 21px !important;
}
